In [17]:
import pandas as pd
import numpy as np

In [19]:
def safe_arange(start, stop, step):
    return step * np.arange(start / step, stop / step)

In [30]:
old_df = pd.DataFrame()
telemetry_df = pd.read_csv('telemetry_extract.csv')
moving_window_size = 3500

In [36]:
# creating rounded time column
telemetry_df['time_step'] = telemetry_df.apply(
    lambda row: round(row.time, 2), axis=1)

# creating new DataFrame containing stepped time column
start = int(max(telemetry_df.time)-20)
time_steps = safe_arange(start, start+20, 0.005)
time_steps = [float('.'.join(
    [str(i).split('.')[0], str(i).split('.')[1][:3]])) for i in time_steps]
time_step_dict = [{'time_step': t} for t in time_steps]
time_step_df = pd.DataFrame(time_step_dict)

telemetry_df = pd.merge(time_step_df, telemetry_df, on="time_step", how="left").drop_duplicates(
    subset=['time_step']).interpolate()
telemetry_df.dropna(subset=["time"], inplace=True)

In [37]:
telemetry_df.describe()

,time_step,Unnamed: 0,time,comp_angle,gyro_angle,accel_angle,control,frequency
count,3.568000e+03,3568.000000,3.568000e+03,3568.0,3568.0,3568.0,3568.0,3568.000000
mean,1.622659e+09,1464.423206,1.622659e+09,0.0,0.0,0.0,-50.0,168.627242
std,5.150686e+00,855.449235,5.150673e+00,0.0,0.0,0.0,0.0,42.714672
min,1.622659e+09,0.000000,1.622659e+09,0.0,0.0,0.0,-50.0,5.000000
25%,1.622659e+09,728.750000,1.622659e+09,0.0,0.0,0.0,-50.0,174.000000
50%,1.622659e+09,1494.500000,1.622659e+09,0.0,0.0,0.0,-50.0,179.000000
75%,1.622659e+09,2206.250000,1.622659e+09,0.0,0.0,0.0,-50.0,181.000000
max,1.622659e+09,2940.000000,1.622659e+09,0.0,0.0,0.0,-50.0,270.000000

In [43]:
float(telemetry_df.time_step.iloc[0]), float(telemetry_df.time_step.iloc[8])

(1622659204.16, 1622659204.2)

In [44]:
time_step_df

         time_step
0     1.622659e+09
1     1.622659e+09
2     1.622659e+09
3     1.622659e+09
4     1.622659e+09
...            ...
3995  1.622659e+09
3996  1.622659e+09
3997  1.622659e+09
3998  1.622659e+09
3999  1.622659e+09

[4000 rows x 1 columns]

In [45]:
telemetry_df

,time_step,Unnamed: 0,time,comp_angle,gyro_angle,accel_angle,control,frequency
432,1.622659e+09,0.0,1.622659e+09,0.0,0.0,0.0,-50.0,182.0
433,1.622659e+09,0.5,1.622659e+09,0.0,0.0,0.0,-50.0,178.0
434,1.622659e+09,1.0,1.622659e+09,0.0,0.0,0.0,-50.0,174.0
435,1.622659e+09,1.5,1.622659e+09,0.0,0.0,0.0,-50.0,175.5
436,1.622659e+09,2.0,1.622659e+09,0.0,0.0,0.0,-50.0,177.0
...,...,...,...,...,...,...,...,...
5306,1.622659e+09,2937.0,1.622659e+09,0.0,0.0,0.0,-50.0,179.5
5307,1.622659e+09,2938.0,1.622659e+09,0.0,0.0,0.0,-50.0,181.0
5309,1.622659e+09,2939.0,1.622659e+09,0.0,0.0,0.0,-50.0,178.5
5310,1.622659e+09,2940.0,1.622659e+09,0.0,0.0,0.0,-50.0,176.0
5311,1.622659e+09,2940.0,1.622659e+09,0.0,0.0,0.0,-50.0,176.0

In [48]:
prepared_data = []
for idx, line in telemetry_df.iterrows():
    if line['frequency'] > 1000:
        continue
    prepared_data.append({
        'time': line['time_step'],
        'value': line['frequency'],
        'feature': 'frequency'
    })
    prepared_data.append({
            'time': line['time_step'],
            'value': line['comp_angle'],
            'feature': 'comp_angle'
    })
    prepared_data.append({
        'time': line['time_step'],
        'value': line['control'],
        'feature': 'control'
    })
    prepared_data.append({
        'time': line['time_step'],
        'value': line['gyro_angle'],
        'feature': 'gyro'
    })
    prepared_data.append({
        'time': line['time_step'],
        'value': line['accel_angle'],
        'feature': 'accel_angle'
    })
    
prepared_df = pd.DataFrame(prepared_data)

In [50]:
prepared_df.loc[prepared_df['feature'] == 'frequency']

               time  value    feature
0      1.622659e+09  182.0  frequency
5      1.622659e+09  178.0  frequency
10     1.622659e+09  174.0  frequency
15     1.622659e+09  175.5  frequency
20     1.622659e+09  177.0  frequency
...             ...    ...        ...
17815  1.622659e+09  179.5  frequency
17820  1.622659e+09  181.0  frequency
17825  1.622659e+09  178.5  frequency
17830  1.622659e+09  176.0  frequency
17835  1.622659e+09  176.0  frequency

[3568 rows x 3 columns]

In [53]:
telemetry_df.time

432     1.622659e+09
433     1.622659e+09
434     1.622659e+09
435     1.622659e+09
436     1.622659e+09
            ...
5306    1.622659e+09
5307    1.622659e+09
5309    1.622659e+09
5310    1.622659e+09
5311    1.622659e+09
Name: time, Length: 3568, dtype: float64

In [62]:
prepared_df.loc[prepared_df['feature'] == 'frequency'].iloc[2]

time       1622659204.17
value              174.0
feature        frequency
Name: 10, dtype: object

In [64]:
import time
features=['comp_angle', 'gyro_angle', 'accel_angle', 'control', 'frequency']
start = int(time.time()-20)
time_steps = safe_arange(start, start+20, 0.005)
time_steps = [float('.'.join(
    [str(i).split('.')[0], str(i).split('.')[1][:3]])) for i in time_steps]
time_step_dict = [{'time_step': t} for t in time_steps]
time_step_df = pd.DataFrame(time_step_dict)
for f in features:
    time_step_df[f] = 0

In [66]:
time_step_df

         time_step  comp_angle  gyro_angle  accel_angle  control  frequency
0     1.622900e+09           0           0            0        0          0
1     1.622900e+09           0           0            0        0          0
2     1.622900e+09           0           0            0        0          0
3     1.622900e+09           0           0            0        0          0
4     1.622900e+09           0           0            0        0          0
...            ...         ...         ...          ...      ...        ...
3995  1.622900e+09           0           0            0        0          0
3996  1.622900e+09           0           0            0        0          0
3997  1.622900e+09           0           0            0        0          0
3998  1.622900e+09           0           0            0        0          0
3999  1.622900e+09           0           0            0        0          0

[4000 rows x 6 columns]

In [67]:
feature_df = prepared_df.loc[prepared_df['feature'] != 'frequency']

In [69]:
set(feature_df['feature'])

{'accel_angle', 'comp_angle', 'control', 'gyro'}

In [70]:
def generate_empty_feature_df_with_size(last_n_seconds, features=['comp_angle', 'gyro_angle', 'accel_angle', 'control', 'frequency']):
    start = int(time.time()-last_n_seconds)
    time_steps = safe_arange(start, start+last_n_seconds, 0.005)
    time_steps = [float('.'.join(
        [str(i).split('.')[0], str(i).split('.')[1][:3]])) for i in time_steps]
    time_step_dict = [{'time': t} for t in time_steps]
    time_step_df = pd.DataFrame(time_step_dict)

    feature_col = []
    value_col = []
    for i in range(len(time_step_df)):
        for f in features:
            feature_col.append({'feature': f})
            value_col.append(0)
    feature_df = pd.DataFrame(feature_col)
    value_df = pd.DataFrame(value_col)
    prepared_df = pd.concat([time_step_df, feature_df, value_df])
    return prepared_df

In [72]:
df12 = generate_empty_feature_df_with_size(20)

In [77]:
df12.time_step[len(df12)-1]

1622907263.995

In [78]:
prepared_df

               time  value      feature
0      1.622659e+09  182.0    frequency
1      1.622659e+09    0.0   comp_angle
2      1.622659e+09  -50.0      control
3      1.622659e+09    0.0         gyro
4      1.622659e+09    0.0  accel_angle
...             ...    ...          ...
17835  1.622659e+09  176.0    frequency
17836  1.622659e+09    0.0   comp_angle
17837  1.622659e+09  -50.0      control
17838  1.622659e+09    0.0         gyro
17839  1.622659e+09    0.0  accel_angle

[17840 rows x 3 columns]

In [81]:
a = pd.DataFrame([{'a':1}, {'a':2}])
b = pd.DataFrame([{'b':1}, {'b':2}])

In [82]:
pd.concat([a,b])

     a    b
0  1.0  NaN
1  2.0  NaN
0  NaN  1.0
1  NaN  2.0